USE [master]
GO
/****** Object:  Database [Demo.nnet]    Script Date: 7/23/2021 5:19:06 PM ******/
CREATE DATABASE [Demo.nnet] ON  PRIMARY 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Demo.nnet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Demo.nnet]
GO
/****** Object:  Table [dbo].[StudentScore]    Script Date: 7/23/2021 5:19:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentScore](
	[RollName] [varchar](150) NOT NULL,
	[StudentName] [varchar](150) NOT NULL,
	[NoPaper] [varchar](50) NOT NULL,
	[Score] [float] NOT NULL,
	[NoQuestion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
